@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
    transition: 0.3s;
}

body{
    background-image: url(img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Scrollbar */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5);
    background-color: #ddd;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #999;
}

/*navbar*/

.navbar{
    height: 10%;
    display: flex;
    align-items: center;
    background-color: #0B4236;
    padding: 0.5;
    margin-bottom: 5%;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    float: left;
    margin-right: 100px;
    color: #000;
}

nav ul li a{
    color: #fff;
    transition: 0.3s;
}


a{
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

p{
    color: #000;
}

nav ul li a:hover{
    filter: drop-shadow(8px 8px 10px gray);
}

.logo img{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 150px;
    height: auto;
    transition: 0.3s;
}

.logo img:hover {
    filter: drop-shadow(8px 8px 10px rgb(24, 24, 24));
}

.sec1container{
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(0, 0, 0,0.6);
    background-color: rgb(0, 0, 0,0.4);
    max-width: 1200px;
    height: auto;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.sec1logo{
    width: 75%;
    height: 75%;
}

.sec1container h1{
    color: #fff;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
}

.col-2{
    display: flex;
    flex-basis: 50%;
    min-width: 300px;
    justify-content: center;
}

.col-2 img{
    max-width: 100%;
    padding-bottom: 50px;
    justify-content: space-around;
}

.col-2 h1{
    color: rgb(255, 255, 255);
    font-size:50px;
    line-height: 60px;
    margin: 25px 0;
}

/*Search bar*/

.searchbtn{
    width: 100%;
}

.searchbarcontainer {
	overflow: hidden;
	width:100%;
}

.searchbar {
    margin-left: 20%;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    font-size: 14px;
    outline: 1px solid rgb(0, 0, 0);
    float: left;
    width: 50%;
    background: #f2faf5;
}
        
.searchfilter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
}

.col-2-filter{
    display: flex;
    min-width: 300px;
    justify-content: center;
}

.col-2-filter label{
    color: #fff;
}

.submitbtn {
    border-radius: 0px 10px 10px 0px;
    width: 6%;
    padding: 13px;
    background: #072a22;
    color: #ffffff;
    font-size: 16.5px;
    outline: 1px solid rgb(0, 0, 0);
    border-left: none;
    cursor: pointer;
}

.submitbtn:hover{
    background-color: #0B4236;
}

/* Filter buttons */

.filter-button-container{
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-button-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.filter-button-container:hover input ~ .checkmark {
    background-color: rgb(159, 159, 159);
}

.filter-button-container input:checked ~ .checkmark {
    background-color: rgb(73, 73, 73, 0.5);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.filter-button-container input:checked ~ .checkmark:after {
    display: block;
}

.filter-button-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
  
/* Footer section */

.body {height: 75%;}

.footer{
    margin-top: 100px;
    background: #05221b;
    color: rgb(206, 206, 206);
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 50%;
}

.footer-about, .footer-logo{
    margin: auto;
    padding: 1em;
}

.footer-logo img{
    width: 5%;
    height: 5%;
}

.footer-about p{
    color: rgb(189, 189, 189);
    transition: 0.5s;
}

.please {
    border-radius: 20px;
    padding: var(--car-padding);
    margin: auto;
    background-color: #d9d3d3;
    width: 1300px;
    color: rgb(0, 0, 0);
    text-align: center;
    box-shadow: none;
    transition: all 800ms ease;
    padding: 1.3rem;
    margin-top: 30px;
}

.please:hover, .search-result:hover {
    box-shadow: 5px 10px 18px #212121;
}

.please tables {
    width: 100%;
}

.please td {
    margin: none;
    height: 2.8rem;
    border-bottom: 1px solid rgb(107, 107, 107);
}

.please td:hover{
    background-color: rgb(178, 178, 178);
}

.please tr:last-child td {
    border: none;
}

.please th {
    font-weight: 900;
    font-size: 24px;
}

.search-result {
    border-radius: 20px;
    margin: auto;
    width: 1300px;
    height: 100px;
    background-color: #d9d3d3;
    box-shadow: none;
    transition: all 800ms ease;
    
}

.search-result p {
    font-size: 30px;
    padding: 25px;
    color: rgb(2, 2, 2);
}

.input-form {

}

.input-form label {
    color: white ;
}
